body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.hovb {
    color:#ee1144;

}
.hovb:hover {
    
    background-color: #ee1144;
    color: #FFFFFF;

}
