body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.hovb {
    color:#ee1144;

}
.hovb:hover {
    
    background-color: #ee1144;
    color: #FFFFFF;

}

.receivedpop {
    padding-top: 1px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: -8px;
}

.btnn {
    background: transparent;
    border: none;
    outline: none;
    
}
.btnn :hover {
    color: #ee1144;
}